fastapi
dotenv
uvicorn
pydantic
sqlalchemy
alembic
pyspark-stubs
pyspark
spark
pyodbc
python-dotenv
h3
pandas
shapely
psycopg2
supabase
requests
psycopg2-binary
pydantic_settings
geoalchemy2
schedule
